version: '3.4'

services:
  app:
    image: ${IMAGE:-ghcr.io/2frogsstudio/spin-rally-bot}:${TAG:-latest}
    env_file: .env
    volumes:
      - /usr/share/zoneinfo:/usr/share/zoneinfo:ro
      - ./logs:/app/logs
    restart: no

volumes:
  Data:
