version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    reviewers:
      - "ch1seL"
    open-pull-requests-limit: 1
    rebase-strategy: "auto"
    groups:
      All:
        patterns:
          - "*"
  - package-ecosystem: "nuget"
    directory: "/src"
    schedule:
      interval: "monthly"
    reviewers:
      - "ch1seL"
    open-pull-requests-limit: 1
    rebase-strategy: "auto"
    ignore:
      - dependency-name: "FluentAssertions"
        versions: [ ">=8.0.0" ]
      - dependency-name: "AutoMapper"
        versions: [ ">=15.0.0" ]
      - dependency-name: "MassTransit"
        versions: [ ">=9.0.0" ]
      - dependency-name: "MediatR"
        versions: [ ">=13.0.0" ]
    groups:
      All:
        patterns:
          - "*"
